/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    float:left;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

/* define a fixed width for the entire menu */
.navigation {
    width: 300px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu .submenu2 .submenu3 {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    background-color: #02A0A2;
}

    /* make ALL links (main and submenu) have padding and background color */
    .mainmenu a {
        display: block;
        background-color: #02A0A2;
        text-decoration: none;
        padding: 10px;
        color: white;
    }

        /* add hover behaviour */
        .mainmenu a:hover {
            background-color: #02aeb1;
        }


    /* when hovering over a .mainmenu item,
          display the submenu inside it.
          we're changing the submenu's max-height from 0 to 200px;
        */

    .mainmenu .submenu {
        display: block;
        max-height: 50000px;
    }

.submenu .submenu2 {
    display: block;
    max-height: 10000px;
}

.submenu2 li:hover .submenu3 {
    display: block;
    max-height: 1000px;
}
/*
          we now overwrite the background-color for .submenu links only.
          CSS reads down the page, so code at the bottom will overwrite the code at the top.
        */

.submenu a {
    background-color: #02A0A2;
}

    /* hover behaviour for links inside .submenu */
    .submenu a:hover {
        background-color: #02aeb1;
    }

.submenu2 a {
    background-color: #02A0A2;
}

    /* hover behaviour for links inside .submenu */
    .submenu2 a:hover {
        background-color: #02aeb1;
    }

.submenu3 a {
    background-color: #02A0A2;
}

    /* hover behaviour for links inside .submenu */
    .submenu3 a:hover {
        background-color: #02aeb1;
    }
/* this is the initial state of all submenus.
          we set it to max-height: 0, and hide the overflowed content.
        */
.submenu {
    overflow: hidden;
    max-height: 0;
}

.submenu2 {
    overflow: hidden;
    max-height: 0;
}

.submenu3 {
    overflow: hidden;
    max-height: 0;
}

.logoImage {
    position: relative;
    right: -1000px;
    bottom: 0px;
}