@model RiluCrocidilu.Models.Homework

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    @if(Model.Comments != null)
    {
        @Model.Comments
    }
    else
    {
        <a> E NULL!!!!!!!!!!!!</a>
    }
</div>

